.article1{
    font-family: 'Courier New', Courier, monospace;
    color: #707070;
    font-weight: 400;
    font-size: 35px;
    line-height: 50px;
    padding-top: 35px;
    padding-bottom: 35px;
}




