@import "article_title.css";
@import "article1.css";
@import "ArticleNumber.css";
@import "ArticleText.css";
@import "Box1.css";
@import "Box2.css";
@import "commons.css";
@import "button.css";
@import "contact.css";
@import "img.css";
@import "linea.css";

ol{
    counter-reset: listItem;
    list-style: none;
  }

li:before {
    content: "0" counter(listItem) ".";
    font-size: 70px;
    line-height: 113px;
    color: #707070;
    padding-bottom: 8px;
    counter-increment: listItem;
  }